.c_wrap{
  padding: 16px 20px;
}
.c_header {
  &_item_info {
    padding: 0px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 33%;
      margin: 10px 0;
      display: flex;
      align-items: center;
      color: #333333;
      font: {
        family: 'MicrosoftYaHei';
        size: 14px;
      }
      >div:nth-child(1) {
        flex-basis: 100px;
        text-align: right;
        margin-right: 20px;
        font-weight: 500;
      }
      >div:nth-child(2) {
        flex: 1;
      }
    }
    .title {
      width: 100% !important;
      flex-shrink: 0;
      > div {
        color: #333333;
        margin-left: -10px;
        font: {
          size: 16px !important;
          weight: bold !important;
          family: 'MicrosoftYaHei-Bold';
        }
        text-align: left !important;
      }
    }
  }
}
.c_middle { 
  margin-bottom: 10px;
  &_title {
    display: flex;
    .title {
      font: {
        size: 16px;
        weight: bold;
        family: 'MicrosoftYaHei-Bold';
      }
      color: #333333;
      margin-right: 20px;
    }
  }
}

.c_body {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 282px);
  justify-content: space-between;
}