.file_upload_button {
  position: relative;
  input {
    width: 68px !important;
    height: 22px;
    color: transparent;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
  }
}